<h4 align="center"> Peminjaman Buku </h4>



<form class="form-group align-items-center" [formGroup]="inputForm" (ngSubmit)="kirim()">

  <div class="row">

    <div class="col-sm-12">
      <div class="form-group-row">
        <label  class = "col-sm-3 form-control-label">
          <!--Name : {{inputInfo.name}}-->
          ISBN :
        </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" [formControlName]="'isbn'" id="inputIsbn" >

          <span *ngIf="!inputForm.get('isbn').valid && inputForm.get('isbn').touched" class="help-block">
            <span *ngIf="inputForm.get('isbn').errors['required']">
              wajib Di isi!
            </span>
            <span *ngIf="nputForm.get('isbn').errors['none']">
              Tidak Boleh Kosong
            </span>
          </span>

        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group-row">
        <label class = "col-sm-3 form-control-label">
          <!--Email: {{inputInfo.email}}-->
          Judul Buku:
        </label>
        <div class="col-sm-8">
          <input type="text" class="form-control"  [formControlName]="'judul'" id="inputEmail" >
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group-row">
        <label class = "col-sm-3 form-control-label">
          <!--NoTelp: {{inputInfo.noTelp}}-->
          Qty:
        </label>
        <div class="col-sm-8">
          <input type="text" class="form-control"  [formControlName]="'qty'" id="inputQty" >
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="form-group-row">
        <label class = "col-sm-3 form-control-label">
          <!--NoTelp: {{inputInfo.noTelp}}-->
          Opsi:
        </label>
        <div class="col-sm-8">
          <br><button type="submit" class = "btn btn-success" >Tambah</button>

        </div>
      </div>
  </div>

</div>
</form>

